body, td {
  font-size: 14px;
  margin: 0px;
}

a {
  text-decoration:none;
}

.menu_div {
  position: absolute;
  top:10px;
}

.menu_div .menu_button {
  color: #2779AA;
  background-color:#D7EBF9;
  font-size: 14px;
  font-weight: bold;
  font-style:italic;
  border: 2px solid #AED0EA;
  width: 60px;
  height: 20px;
  text-align:center;
}

.menu_list {
  position:absolute;
  top: 22px;
  display:none;
}

.menu_list ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  border: 1px solid #AED0EA;
  background-color:#d7ebf9;
}

.menu_list li {
  padding: 10px;
  border: 1px solid #AED0EA;
  color: #0070a3;
  font-weight: bold; 
}

.menu_list li:hover {
  background-color:#e4f1fb;
  cursor: pointer;
}

.logo_container {
  float:left;
  margin:0px 10px 0px 0px;
}

.clear {
  clear:both;
}

.label {
  font-style:italic;
  margin: 0px 10px 0px 0px;
}

.title {
  font-size:16px;
  font-weight:bold;
  margin: 0px 0px 10px 0px;
}

.data_table {
  border-collapse:collapse;
}

.data_table th {
  border:1px solid #0070a3;
  background-color: #d7ebf9;
  color: #0070a3;
  font-size: 12px;
  font-style:italic;
  padding:3px;
}

.data_table td {
  border:1px solid #0070a3;
  padding:3px;
  font-size:13px;
}

.footer {
  border-top: solid 2px gray;
  width:100%;
  height:50px;
}

.footer_title {
  padding:13px 0px 0px 0px;
}

.footer_title .main_title {
  font-size:24px;
  font-weight:bold;
  margin: 0px 20px 0px 0px;
  color: #0070a3;
}

.footer_title .title {
  float:right;
  margin: 5px 20px 0px 0px;
  font-size:20px;
  font-style: italic;
  color: #0070a3;
}
