body, td {
  font-size: 14px;
  margin: 0px;
}

.logo_container {
  float:left;
  margin:0px 10px 0px 0px;
}

.clear {
  clear:both;
}

.label {
  font-style:italic;
  margin: 0px 10px 0px 0px;
}

.container_divs {
  float:left;
  padding: 10px 30px 0px 30px;
}

.calendar_divs {
  float:left;
  margin: 0px 0px 0px 100px;
}

.select_containers {
  margin: 0px 0px 20px 0px;
}

.add_employee {
  padding: 10px 0px 20px 40px;
  border-bottom:solid 2px gray;
}

.add_employee input {
  margin:0px 10px 0px 0px;
}

.title {
  font-size:16px;
  font-weight:bold;
}

.data_table th {
  border:1px solid #0070a3;
  background-color: #d7ebf9;
  color: #0070a3;
  font-size: 12px;
  font-style:italic;
  padding:3px;
}

.data_table td {
  border:1px solid #0070a3;
  padding:3px;
}
